<%= render "shared/header" %>
<div class='main'>

  <div class='entry-contents'>
    <ul class='entry-lists'>

     <% @entries.each do |entry| %>

      <li class='list'>
        <%= link_to entry_path(entry.id) do %>
        <div class='entry-img-content'>
          <%= image_tag entry.image, class: "entry-img" if entry.image.attached? %>

        </div>
        <div class='entry-info'>
          <h3 class='entry-name'>
            <%= entry.title %>
          </h3>
          <div class='entry-user'>
           <%= entry.user.name %>
            <div class='heart-btn'>
              <%= image_tag "heart.png", class:"heart-icon" %>
              <span class='heart-count'><%= entry.likes.count %></span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
     <% end %>

      <% if @entries.empty? %>
      
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "entry-img" %>
        <div class='entry-info'>
          <h3 class='entry-name'>
            記録投稿してね！
          </h3>
          <div class='entry-user'>
           <%= "ユーザー名" %>
            <div class='heart-btn'>
              <%= image_tag "heart.png", class:"heart-icon" %>
              <span class='heart-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>

      <% end %>

    </ul>
  </div>

</div>

<%= link_to(new_entry_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/footer" %>