<%= render "shared/header" %>

<div class="entry-show">
  <div class="entry-box">
    <h2 class="name">
      <%= @entry.title %>
    </h2>
    <div class="entry-img-content">
      <%= image_tag @entry.image ,class:"entry-box-img" %>
    </div>
    <div class="entry-explain-box">
      <span><%= @entry.text %></span>
    </div>

     <% if user_signed_in? && current_user.id == @entry.user_id %>
         <%= link_to "投稿の編集", edit_entry_path(@entry), method: :get, class: "entry-red-btn" %>
         <%= link_to "削除", entry_path(@entry), method: :delete, class:"entry-destroy" %>
     <% end %>

   
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @entry.user.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "heart.png" ,class:"favorite-star-icon" ,width:"30",height:"30"%>
        <div id="like-btn<%= @entry.id %>">
           <%= render partial: "likes/like", locals: { entry: @entry } %>
        </div>
      </div>
      <div class="report-btn">
        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <%=link_to "フォロー中", user_relationships_path(@user.id),class: "follo-btn1" , method: :delete %>
          <% else %>
            <%=link_to "フォローする", user_relationships_path(@user.id),class: "follo-btn2" ,method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="comments", id="comments">
     <h4 class="comment-title">＜コメント一覧＞</h4>
      <% @entry.comments.each do |comment| %>
        <div class="comment">
          <p class="comment-user"><%= comment.user.name %>：</p>
          <p class="comment-text1"><%= comment.text %></p>
        </div>
      <% end %>
  </div>

  <div class="comment-box">
    <%= form_with(model: [@entry, Comment.new], local: true, id:"comment-box") do |form| %>
      <%= form.text_area :text, class: "comment-text", placeholder: "コメントを入力してください" %>
      <%= form.button type: :submit, class: "comment-btn" do %>
        <span>コメント<span>
      <% end %>
    <% end %>
  </div>

  <div class="links">
    <a href="#" class="change-entry-btn">
      ＜ 前の投稿
    </a>
    <a href="#" class="change-entry-btn">
      後ろの投稿 ＞
    </a>
  </div>
  
</div>

<%= render "shared/footer" %>
