<%= render "shared/header" %>

<div class="entry-show">
  <div class="entry-box">
    <h2 class="name">
      <%= @entry.title %>
    </h2>
    <div class="entry-img-content">
      <%= image_tag @entry.image ,class:"entry-box-img" %>
    </div>
    <div class="entry-explain-box">
      <span><%= @entry.text %></span>
    </div>

     <% if user_signed_in? && current_user.id == @entry.user_id %>
         <%= link_to "投稿の編集", edit_entry_path(@entry), method: :get, class: "entry-red-btn" %>
           <p class="or-text">or</p>
         <%= link_to "削除", entry_path(@entry), method: :delete, class:"enrty-destroy" %>
     <% end %>

   
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @entry.user.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "heart.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <div id="like-btn<%= @entry.id %>">
           <%= render partial: "likes/like", locals: { entry: @entry } %>
        </div>
      </div>
      <div class="report-btn">
        <%= image_tag "follo.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <%=link_to "フォロー中", user_relationships_path(@user.id),class: "follo-btn" , method: :delete %>
          <% else %>
            <%=link_to "フォローする", user_relationships_path(@user.id),class: "follo-btn" ,method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">

        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-entry-btn">
      ＜ 前の投稿
    </a>
    <a href="#" class="change-entry-btn">
      後ろの投稿 ＞
    </a>
  </div>
  
</div>

<%= render "shared/footer" %>
