<%= render "shared/third-header" %>

<div class="user-page">

  <div class='user-contents2'>
   <ul class='user-lists'>
      <% if @user_diaries.present? %>
        <% @user_diaries.each do |diary| %>
        <li class='list'>
          <div class="entry-item">
            <% if diary.image.attached? %>
              <%= link_to diaries_path do %>
                <%= image_tag diary.image, size: "300x200", class: "entry-img" %>
              <% end %>
            <% end %>
            <h2><%= link_to diary.title, diaries_path(diary) %></h2>
            <p><%= diary.text %></p>
          </div>
        </li>
        <% end %>
      <% else %>
        <p>No entries found.</p>
      <% end %>
   </ul>
  </div>
 
</div>

<%= link_to(new_entry_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= link_to(new_diary_path, class: 'purchase-btn1') do %>
  <span class='purchase-btn-text1'>日記</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon2" %>
<% end %>

<%= link_to(new_user_path, class: 'purchase-btn2') do %>
  <span class='purchase-btn-text2'>記録</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon1" %>
<% end %>

<%= render "shared/footer" %>