<%= form_with model: @diary, url: diaries_path, id:"new_entry", local: true do |f| %>

 <div class="entries-contents">
  <header class="entries-header">
    <%= link_to image_tag('kiroku-logo.png' , size: '185x50'), "/" %>
  </header>
  
  <div class="entries-main">
    <h2 class="entries-title">内容を入力</h2>
    
    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        日記写真
        <span class="indispensable">必須</span>
      </div>
      <div id="previews"></div>
      <div class="click-upload">
        <%= f.file_field :image, id:"entry-image" %>
      </div>
    </div>

    <div class="new-entries">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"entries-text", id:"entry-name", maxlength:"40" %>
      <div class="entries-explain">
        <div class="weight-bold-text">
          日記内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"entries-text", id:"entry-info", rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="entry-btn-contents">
      <%= f.submit "投稿する", class:"entry-btn" %>
      <%=link_to '戻る', root_path, class:"back-btn" %>
    </div>

  </div>
 

  <footer class="entries-sell-footer">
    <%= link_to image_tag('kiroku-logo.png' , size: '185x50'), "/" %>
  </footer>
 </div>

<% end %>